<div class="modal-header">
     <h4 class="modal-title">Biography</h4>
     <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
       <span aria-hidden="true">&times;</span>
     </button>
   </div>
   <div class="modal-body">
     <p>Hey! My name is Tanvir Bashar and I am a Computer programmer based in NYC. I don`t know yet of what I want to do in the future with programming.
    When I get my first programming job, from there I can decide what I possibly want to do. I have done several hackathons which made me exercise and learn
  new skills. I am currently working in an internship for Ninjas in the Machines, working on full stack development, designing, and testing on websites. I have
an interest in political science, specifically international affairs. I have a plan in the future to combine my tech skills with my political science interest but I
don`t know how I am going to do that yet, but it is just a plan I have in mind.</p>

   </div>
   <div class="modal-footer">
     <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
   </div>
