<div class="modal-header">
     <h4 class="modal-title">Contact</h4>
     <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
       <span aria-hidden="true">&times;</span>
     </button>
   </div>
   <div class="modal-body">
     <p> Feel free to shoot an email at tbashar09@gmail.com and it can be done down there on the message box for you to submit an email to me.
     You can also find out what I am currently working on or who I am working for on my LinkedIn profile. </p>
     <form name="myForm" action="mailto:tbashar09@gmail.com"
onsubmit="return validateForm()" method="post">

Message:<br> <input type="text" name="fname"><br>
<input type="submit" value="Submit">
</form>

<a href="path_to_file" download="proposed_file_name">Download</a>
   </div>


   <div class="modal-footer">
     <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
   </div>
