<div class="modal-header">
     <h4 class="modal-title">Hobbies</h4>
     <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
       <span aria-hidden="true">&times;</span>
     </button>
   </div>
   <div class="modal-body">
     <p>I have a lot of hobbies. I love reading about new things, different cultures, religions. I love learning about history and learning new things about
     technology, for example new programming languages and software. I`m interested in finding out about what happens throughout the world and that made
   me get interested in political science and also me learning about different cultures and religions made me also interested in the topic of how technology
 can or will affect society ethically, morally, and socially. I enjoy playing Soccer and I watch the world cup every 4 years. I love watching movies and tv shows,
especially watching movies and tv shows of different cultures. I also like playing specific type of video games, like story driven and platformer games. In essence,
my enjoyment is also hanging out with family and friends at times.</p>

   </div>
   <div class="modal-footer">
     <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
   </div>
