<div class="modal-header">
     <h4 class="modal-title">Tech Skills</h4>
     <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
       <span aria-hidden="true">&times;</span>
     </button>
   </div>
   <div class="modal-body">
     <ul>
       <li>Java</li>
      <li>  Web Development (HTML, CSS)</li>
      <li> Javascript </li>
      <li>Android</li>
      <li> C# </li>
      <li> Eclipse </li>
      <li> Unity </li>
      <li> Angular</li>
      <li> Bootstrap </li>
      <li> MySQL </li>
      <li> Sublime text</li>
      <li> Git</li>
      <li> Command line</li>
      </ul>

   </div>
   <div class="modal-footer">
     <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
   </div>
